/Lessons/nbproject/private/
/Lessons/build/
/Lessons/dist/
/JavaLib/nbproject/private/
/JavaLib/build/
/JavaLib/dist/
/JniDll/nbproject/private/
/JniDll/build/
/JniDll/dist/
/ServerClientLib/nbproject/private/
/ServerClientLib/build/
/ServerClientLib/dist/
