/Lessons/nbproject/private/
/Lessons/build/
/Lessons/dist/
/ClientLib/nbproject/private/
/ClientLib/build/
/ClientLib/dist/
/ClientMain/nbproject/private/
/ClientMain/build/
/ClientMain/dist/
/ServerLib/nbproject/private/
/ServerLib/build/
/ServerLib/dist/
/ServerMain/nbproject/private/
/ServerMain/build/
/ServerMain/dist/
/SocketLib/nbproject/private/
/SocketLib/build/
/SocketLib/dist/
/SpiceOrbitalElements/nbproject/private/
/SpiceOrbitalElements/build/
/SpiceOrbitalElements/dist/
/SpiceVsopMain/nbproject/private/
/SpiceVsopMain/build/
/SpiceVsopMain/dist/
